img:hover {
  filter: brightness(0.5);
  /*transforming depends on preference */
  /* transform: scale(1.03); */
}

.grains {
  height: 66.67%;
  width: 51%;
  top: 0;
  left: 0;
}

.vegetables {
  height: 62.5%;
  width: 50%;
  top: 0;
  left: 50.4%;
}

.meat {
  height: 50%;
  width: 48.1%;
  top: 49.6%;
  left: 2.2%;
}

.dairy {
  height: 52.1%;
  width: 40.1%;
  top: 48.8%;
  left: 38.3%;
}

.fruit {
  height: 42.1%;
  width: 47.56%;
  top: 49.2%;
  left: 51.67%;
}

.locked {
  filter: grayscale(100%) blur(2px) !important;
}

.locked:hover {
  /*transforming depends on preference */
  /*transform: scale(1) !important;*/
  filter: grayscale(100%) brightness(0.5) blur(2px) !important;
}
