
/**********/
/* Recipe overview page */
/**********/

/* Main image */

.recipe-main-image {
    border: 3px solid #434343;
    margin-top: 20%;
}

/* Star label for the recipe name */
.label-main-image {
    margin-left: -10%;
    margin-top: 2%;
    width: 45%;
    height: 100%;
    max-height: 400px;
    max-width: 450px;
    min-width: 200px;
}

/* Recipe name text */
.recipe-name {
    width: 50%;
    font-size: 5vw;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    transform: rotate(-17deg);
    line-height: 0.8;
    letter-spacing: 4px;
    align-self: center;
    margin-top: -50%;
    margin-left: 28%;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.17);
    z-index: 1;
}


/* Flip hero image if it's facing left */
.flip-hero-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Hint text */
.hint-text {
    width: 80%;
    transform: rotate(10deg);
    /*font-max-size: 1rem;*/
}

/* Main div for the content  */
.recipe-main-content {
    background-color: #e9e9e9;
    margin-top: 60px;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    padding: 1rem;
    border: 3px solid #434343;
}

/* List of ingredients text */
.ingredients-text {
    min-width: 100px;
    max-width: 350px;
    padding-top: 10%;
    padding-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

/* Header "Ingredients" */
.ingredients-header {
    opacity: 80%;
    transform: rotate(-5deg);
}

.content-block {
    margin-top: 20px;
}


.ingredients-image {
    max-width: 700px;
    margin-top: 5%;
}

.frame-image {
    width: 100%;
    resize: none;
    z-index:100;
}

/* Background plate for the "Ingredients" title */
.header-plate {
    width: 40%;
    min-width: auto;
}


/* Main image on the top of the page */
.image-container {
    width: 100%;
}

/* Hero image */
.hero-image-container {
    width: 40%;
    margin-top: -35%;
    margin-bottom: -10%;
    margin-left: -20%
}

/* Yellow bubble tip image */
.tip-plate-container {
    width: 40%;
    margin-top: -75%;
    margin-left: 75%;
    margin-right: -15%;
}

.image-container> div {
    position: unset !important;
}

.hero-image-container> div {
    position: unset !important;
}

.tip-plate-container> div {
    position: unset !important;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}


/* Media limiters. Two options: less that 901px and more */
@media screen and (min-width: 901px) {
    .recipe-name {
        font-size: 50px;
    }
    .hint-main-image {
        margin-left: 200px;
        margin-top: -300px;
    }
    .hint-text {
        margin-top: -140px;
        margin-left: 34px;
        font-size: 1.5rem;
    }
    .ingredients-header {
        font-size: 3.5rem;
        margin-top: -15%;
        margin-left: 45px;
    }
}

@media screen and (max-width: 900px) {
    .hint-main-image {
        margin-left: 80%;
        margin-top: -130%;
    }
    .hint-text {
        margin-top: -45%;
        margin-left: 15%;
        font-size: 2vw;
    }
    .ingredients-header {
        font-size: 7vw;
        margin-top: -20%;
        margin-left: 45px;
    }
    .header-plate {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    .hint-text {
        margin-top: -150px;
        margin-left: 34px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1250px) {
    .hint-text {
        margin-top: -160px;
        margin-left: 50px;
        font-size: 1.5rem;
    }
}
