.modal-background {
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background.closed {
  display: none;
}

.modal {
  outline: 1px solid red;
  background: grey;
  position: fixed;
}
