.captionBox {
  background-image: radial-gradient(#df740044 69%, #e6d7c7b3 69%);
  background-size: 20px 20px;
  background-color: #eeeeeedd;
  width: 500;
  border-width: 2px;
  border-color: black;
}

.captionText {
  transform: skew(3deg); /* UNSKEW */
}

h2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.captionParent {
  transition: background 0.3s;
  transform: skew(-3deg); /* SKEW */
}
