{
  "extends": ["next", "next/core-web-vitals", "plugin:jsx-a11y/recommended" ,"plugin:prettier/recommended"],
  "overrides": [{
    "files": [
      "*.ts",
      "*.tsx"
    ],
    "rules": {
      "jsx-a11y/anchor-is-valid": "off"
    }
  }]
}
