.map-selected {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transform: scale(1.1, 1.1);
}

.map-unselected {
  transition: 0.2s all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.svgrow {
  max-width: 100vw;
  overflow-x: auto;
}

.descriptionText > rect {
  fill: rgb(255,255,255);
  fill-opacity: 20%;

  stroke-width: 3px;
  stroke: rgb(0,0,0);
}

.descriptionText > text {
  font-size: 16pt;
}