.card {
    text-align: center;
    border-radius: 10%;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.card-image {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 350px;
}

.character {
    margin-right: -5%;
    margin-top: -10%;
    width: 25%;
    z-index: 20;

}

.splash {
    width: 45%;
    height: 45%;
    margin-right: -13%;
    margin-top: -10px;
    opacity: 70%;
}


