.card {
  text-align: center;
  border-radius: 10%;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.card-image {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 350px;
}
.card-image > div {
  position: unset !important;
}

.image-container {
  width: 30%;
  height: 55%;
}

.card-image-container {
  width: 100%;
}

.splash-container {
  width: 50%;
}

.splash-container > span {
  position: unset !important;
}

.card-image-container > span {
  position: unset !important;
  /*display: flex !important;*/
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
