@tailwind base;

@layer base {
  @font-face {
    font-family: 'Abraham';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Abraham.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bliss';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Bliss-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bliss';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Bliss-Light.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bliss';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Bliss-Medium.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bliss';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Bliss-Bold.otf') format('opentype');
  }

  ::selection {
    @apply text-white bg-blue;
  }
}

@tailwind components;

@layer components {
  .input {
    @apply px-4 py-3 font-light border outline-none rounded-2xl bg-grey-light bg-opacity-60 focus:ring-1 ring-primary placeholder-grey-dark;
  }
}

@tailwind utilities;

.shadow-primary {
  box-shadow: -1px -4px 0 1px #51185f inset;
}
.shadow-teal {
  box-shadow: -1px -4px 0 1px #58a9a9 inset;
}
.shadow-blue {
  box-shadow: -1px -4px 0 1px #0d85a0 inset;
}
.shadow-orange {
  box-shadow: -1px -4px 0px 1px #a05b14 inset;
}
