.FloatingButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 640px) {
  .NavbarContent {
    border-style: solid;
    border-width: 1px;
    position: fixed;
    bottom: 10px;
    right: 30px;
  }
}

@media (min-width: 640px) {
  /* Put widescreen styling here */
}
